/* <!-- загрузочный экран  --> */
.vk-preloader {
  width: 100vw;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #f5f3f4;
  font-family: "Helvetica";
  font-size: 1.2vw;
  color: #000000;
  z-index: 99999;
  display: grid;
  grid-template-columns: repeat(9, 1fr); /* 9 колонок */
  gap: 8.3vw; /* Расстояние между элементами */
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.vk-preloader.hiddenN {
  opacity: 0;
}

/* Класс для полного скрытия элемента */
.vk-preloader.none {
  display: none;
}
body {
  /* background-image: url(../images/макет\ UPDATED.png);
  opacity: 0.5;
  width: 1280px;
  height: 6000px;
  margin-top: -9.6vw; */
}
.inversionButton {
  background-color: black;
  width: 5vw;
  height: 2.3vw;
  border: none;
  margin-left: 92vw;
  border-radius: 40px;
  position: absolute;
  margin-top: 2.3vw;
  z-index: 100;
}
.round-ball {
  width: 2vw;
  height: 2vw;
  border-radius: 100%;
  background-color: white;
}
.after {
  background-color: #000000;
}
.SLAY {
  background-color: #f5f3f4;
}
.WG.AFTER {
  color: #000000;
}
.FG.AFTER2 {
  color: white;
  background-color: white;
}
.RB.afterRB {
  background-color: #000000;
  transform: translateX(2vw);
  transition: transform 0.5s ease-in-out;
}
.RB {
  background-color: #ffffff;
  transform: translateX(0vw);
  transition: transform 0.5s ease-in-out;
}
.XX.AFTER3 {
  color: white;
}
.dot.afterAFT {
  color: white;
  background-color: white;
}
section {
  width: 100%;
  position: relative;
  overflow: hidden;
}
p {
  font-family: "Helvetica";
}

/* ПЕРВЫЙ ЭКРАН */

.ramka {
  border: 0.2vw black solid;
  width: 95.6vw;
  height: 46.5vw;
  margin-left: 2vw;
  margin-top: 1.8vw;
}
.white-ramka {
  border: 0.2vw white solid;
}
.line1,
.line2 {
  height: 0.1vw;
  background-color: #000000;
}
.line1 {
  rotate: 90deg;
  margin-left: 24.4vw;
  margin-top: -23.5vw;
  position: absolute;
  z-index: 10;
  width: 50.5vw;
}
.line2 {
  margin-top: -23.9vw;
}
.black-box-one-1,
.black-box-one-2,
.black-box-one-3,
.black-box-one-4 {
  width: 7.8vw;
  height: 3vw;
  background-color: rgb(0, 0, 0);
}
.black-box-one-1 {
  margin-top: -1.4vw;
  margin-left: 2vw;
}
.black-box-one-2 {
  margin-top: -2.8vw;
  margin-left: 90vw;
}
.black-box-one-3 {
  margin-top: -24.8vw;
  margin-left: 45.9vw;
  position: absolute;
}
.black-box-one-4 {
  margin-top: 19vw;
  margin-left: 45.6vw;
}
.register {
  position: relative;
}
#register {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: none;
}
.modal {
  width: 43vw;
  height: 46.55vw;
  margin-left: 28vw;
  margin-top: 1.95vw;
  background-color: rgb(0 0 0 / 47%);
  z-index: 100;
  backdrop-filter: blur(0.5vw);
  animation: registration 0.2s ease-in-out;
}
#textInput1,
#textInput2,
#textInput3 {
  width: 36vw;
  height: 2.6vw;
  font-size: 1vw;
  border: 0vw solid #ccc;
  border-radius: 4px;
  padding-left: 1vw;
}
#textInput1 {
  margin-top: 10vw;
  margin-left: 3vw;
}
#textInput2 {
  margin-top: 1vw;
  margin-left: 3vw;
}
#textInput3 {
  margin-top: 1vw;
  margin-left: 3vw;
}
/* Стили для кнопки  */
#submitBtn {
  padding: 1vw 2vw;
  font-size: 1.5vw;
  background-color: #ffffff;
  color: grey;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
  margin-top: 10vw;
  margin-left: 13vw;
}

#submitBtn:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.vnesite {
  color: white;
  position: absolute;
  margin-left: 12vw;
  text-align: center;
  margin-top: 3vw;
  font-size: 1.2vw;
}

.register-box {
  width: 21.4vw;
  height: 3vw;
  margin-top: -25.3vw;
  margin-left: 39vw;
  background-color: rgb(0, 0, 0);
  position: absolute;
  z-index: 11;
}

.registration-114,
.registration-words-one,
.registration-words-two,
.main-registration {
  color: white;
}
.registration-114 {
  font-size: 1.2vw;
  text-align: center;
  padding-top: 0.76vw;
}
.registration-words-one {
  text-align: center;
  padding-top: 0.7vw;
  padding-left: 2.8vw;
  font-size: 1.2vw;
  z-index: 10;
  position: absolute;
}
.registration-words-two {
  margin-left: 2.9vw;
  padding-top: 0.7vw;
  font-size: 1.2vw;
  z-index: 10;
  position: absolute;
}
.main-registration {
  font-size: 1.2vw;
  text-align: center;
  padding-top: 0.7vw;
}
.ball {
  background-color: rgb(0, 0, 0);
  width: 0.75vw;
  height: 0.75vw;
  position: absolute;
  border-radius: 100%;
}

.b1-name,
.b3-name,
.b9-name,
.b13-name,
.b25-name,
.b28-name,
.b29-name,
.b36-name {
  color: black;
  font-size: 0.9vw;
}
.b1-name {
  margin-left: 1.1vw;
}
.b3-name {
  margin-left: 1.2vw;
  margin-top: -0.1vw;
}
.b9-name {
  margin-left: 1vw;
  margin-top: -0.2vw;
}
.b13-name {
  margin-left: 1vw;
  margin-top: -0.2vw;
}
.b25-name {
  margin-left: 1vw;
}
.b28-name {
  margin-left: 0.9vw;
}
.b29-name {
  margin-left: 1.2vw;
}
.b36-name {
  margin-left: 1.5vw;
}
.b0 p {
  margin-left: 1.5vw;
}
.b0 {
  animation: b2 23s infinite -9s;
  background-color: red;
  color: red;
  font-size: 0.9vw;
  margin-left: 10vw;
}
.b2 {
  margin-top: -7.8vw;
  margin-left: 5.7vw;
  animation: b2 23s infinite;
}
.b3 {
  margin-left: 16.6vw;
  margin-top: -13.4vw;
  animation: b3 25s infinite;
}
.b4 {
  margin-left: 20.5vw;
  margin-top: -9.6vw;
  animation: b4 20s infinite;
}
.b5 {
  margin-left: 32.7vw;
  margin-top: -14.5vw;
  animation: b5 20s infinite;
}
.b6 {
  margin-top: -6.6vw;
  margin-left: 29.8vw;
  animation: b6 23s infinite;
}
.b7 {
  margin-top: -1.3vw;
  margin-left: 21.9vw;
  animation: b7 26s infinite;
}
.b8 {
  margin-left: 33vw;
  margin-top: -1.7vw;
  animation: b8 26s infinite;
}
.b9 {
  margin-left: 39.2vw;
  margin-top: -11.9vw;
  animation: b9 21s infinite;
}
.b10 {
  margin-left: 57.6vw;
  margin-top: -7.6vw;
  animation: b10 20s infinite;
}
.b11 {
  margin-left: 50.9vw;
  margin-top: -13.3vw;
  animation: b11 19s infinite;
}
.b12 {
  margin-left: 64.2vw;
  margin-top: -8.2vw;
  animation: b12 18s infinite;
}
.b13 {
  margin-top: -12.2vw;
  margin-left: 73.9vw;
  animation: b13 17s infinite;
}
.b14 {
  margin-left: 82.2vw;
  margin-top: -5.8vw;
  animation: b14 16s infinite;
}
.b15 {
  margin-left: 91.8vw;
  margin-top: -15.2vw;
  animation: b15 21s infinite;
}
.b16 {
  margin-top: 3vw;
  margin-left: 12.5vw;
  animation: b16 19s infinite;
}
.b17 {
  margin-left: 24.8vw;
  margin-top: 4.6vw;
  animation: arina 20s infinite;
}
.b18 {
  margin-left: 32.7vw;
  margin-top: 7.7vw;
  animation: b18 19s infinite;
}
.b19 {
  margin-left: 40.6vw;
  margin-top: 5vw;
  animation: b19 21s infinite;
}
.b20 {
  margin-left: 15.9vw;
  margin-top: 12.8vw;
  animation: b20 22s infinite;
}
.b21 {
  margin-left: 21.6vw;
  margin-top: 17.7vw;
  animation: b21 25s infinite;
}
.b22 {
  margin-left: 27vw;
  margin-top: 22.5vw;
  animation: b22 19s infinite;
}
.b23 {
  margin-left: 32vw;
  margin-top: 16vw;
  animation: b23 25s infinite;
}
.b24 {
  margin-top: 11.7vw;
  margin-left: 36vw;
  animation: b24 19s infinite;
}
.b25 {
  margin-left: 41.5vw;
  margin-top: 7.7vw;
  animation: b25 21s infinite;
}
.b26 {
  margin-left: 65.7vw;
  margin-top: 0.9vw;
  animation: b26 24s infinite;
}
.b27 {
  margin-left: 52.4vw;
  margin-top: 7.4vw;
  animation: b27 27s infinite;
}
.b28 {
  margin-left: 63.5vw;
  margin-top: 5.4vw;
  animation: b28 33s infinite;
}
.b29 {
  margin-left: 55vw;
  margin-top: 16.2vw;
  animation: b29 35s infinite;
}
.b30 {
  margin-left: 59.2vw;
  margin-top: 12.4vw;
  animation: b30 31s infinite;
}
.b31 {
  margin-left: 64.3vw;
  margin-top: 21.9vw;
  animation: b31 27s infinite;
}
.b32 {
  margin-left: 70.3vw;
  margin-top: 15vw;
  animation: b32 30s infinite;
}
.b33 {
  margin-left: 86.4vw;
  margin-top: 6.5vw;
  animation: b33 27s infinite;
}
.b34 {
  margin-left: 92vw;
  margin-top: 13vw;
  animation: b34 24s infinite;
}
.b35 {
  margin-left: 89.5vw;
  margin-top: 15.8vw;
  animation: b35 28s infinite;
}
.b36 {
  margin-left: 73.4vw;
  margin-top: 18.4vw;
  animation: b36 30s infinite;
}
.b1 {
  margin-left: 6.8vw;
  margin-top: -17.8vw;
  animation: arina 16s infinite;
}
/* ВТОРОЙ ЭКРАН */
.expandable {
  position: absolute;
  align-items: center;
  font-size: 2vw;
  cursor: pointer;
  margin-left: 2vw;
  margin-top: 6vw;
}
.question-mark {
  font-family: "Helvetica";
  font-size: 1.4vw;
  position: absolute;
  margin-left: 0.8vw;
  opacity: 1;
}
.expandable.expanded .question-mark {
  opacity: 0;
  transition: opacity 0.05s ease-in-out;
}
.right-bracket {
  margin-left: 2vw;
}

.left-bracket,
.right-bracket {
  transition: transform 0.5s ease-in-out;
  position: absolute;
  font-family: "Helvetica";
  font-size: 1.4vw;
}

.text {
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.5s ease-in-out;

  margin-left: 1vw;
  margin-top: 0.2vw;
  font-size: 1.4vw;
  position: absolute;
  font-family: "Helvetica";
}

.expandable.expanded .right-bracket {
  transform: translateX(25.5vw);
}

.expandable.expanded .text {
  opacity: 1;
}

.mark {
  color: #000000;
  font-size: 2vw;
  margin-left: 3vw;
  margin-top: 5.5vw;
}

#a1 {
  position: absolute;
  z-index: 9;
  width: 25vw;
  height: 25vw;
}
#a1header {
  width: 27vw;
  height: 24vw;
  cursor: move;
  margin-left: 27vw;
  margin-top: 7.8vw;
}
#a2header {
  width: 27vw;
  height: 24vw;
  cursor: move;
  margin-left: 8.7vw;
  margin-top: -4.6vw;
}
#a2 {
  position: absolute;
  z-index: 9;
  filter: grayscale();
  width: 23.75vw;
  height: 17.81vw;
}
#a3header {
  width: 27vw;
  height: 24vw;
  cursor: move;
  margin-left: 54.3vw;
  margin-top: -35.6vw;
}
#a3 {
  position: absolute;
  z-index: 9;
  width: 19.36vw;
  height: 19.36vw;
}
#a4header {
  width: 27vw;
  height: 24vw;
  cursor: move;
  margin-left: 75.3vw;
  margin-top: -13.8vw;
}
#a4 {
  position: absolute;
  z-index: 9;

  width: 23.2vw;
  height: 23.2vw;
}
#a5header {
  width: 27vw;
  height: 16vw;
  cursor: move;
  margin-left: 33vw;
  margin-top: -2vw;
}
#a5 {
  position: absolute;
  z-index: 9;
  width: 17.03vw;
  height: 17.03vw;
}
.sh1 {
  margin-left: 62vw;
  margin-top: 39.9vw;
  width: 25.63vw;
  height: 25.63vw;
}
.visible {
  display: flex; /* Показываем элемент */
}

.hidden {
  display: none; /* Скрываем элемент */
}
.sh2 {
  margin-left: 72vw;
  margin-top: 7.8vw;
  width: 23.75vw;
  height: 17.81vw;
}
.sh3 {
  margin-left: 42vw;
  margin-top: 30.3vw;
  width: 17.03vw;
  height: 17.03vw;
}
.sh4 {
  margin-left: 4vw;
  margin-top: 43.5vw;
  width: 18.36vw;
  height: 18.36vw;
}
.sh5 {
  margin-top: 7vw;
  margin-left: 2.6vw;
  width: 23.2vw;
  height: 23.2vw;
}
.shadow {
  position: absolute;
}
.info-behind-a1,
.info-behind-a2,
.info-behind-a3,
.info-behind-a4,
.info-behind-a5 {
  color: rgb(0, 0, 0);
  font-size: 1vw;
  position: absolute;
  text-align: center;
}
.info-behind-a1 {
  margin-top: 18vw;
  margin-left: 32.6vw;
}
.info-behind-a2 {
  margin-top: 34vw;
  margin-left: 11vw;
}
.info-behind-a3 {
  margin-top: 24vw;
  margin-left: 58vw;
}
.info-behind-a4 {
  margin-top: 32.3vw;
  margin-left: 81.9vw;
}
.info-behind-a5 {
  margin-top: 53vw;
  margin-left: 34vw;
}
/* .info-behind-a1::before {
  content: "GHBDTN";
  background-image: url(../images/white-noise.png);
  background-repeat: no-repeat;
  animation: white-noise 0.1s;
} */
.info-behind-a1 span {
  position: relative;
  z-index: -20;
}
.info-behind-a1 span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: #eee;
  background-image: url(../images/white-noise.png);
  background-size: cover;
  animation: white-noise 0.1s;
}
.white-noise {
  width: 20vw;
  height: 20vw;
  background-image: url(../images/white-noise.png);
  background-repeat: no-repeat;
  animation: white-noise 0.1s infinite;
  position: absolute;
}

/* ТРЕТИЙ ЭКРАН */
.TRI-SCREEN {
  margin-top: 4vw;
}
.expandable2 {
  position: absolute;
  align-items: center;
  font-size: 2vw;
  cursor: pointer;
  margin-left: 2vw;
}
.question-mark2 {
  font-family: "Helvetica";
  font-size: 1.4vw;
  position: absolute;
  margin-left: 0.8vw;
  opacity: 1;
}
.expandable2.expanded2 .question-mark2 {
  opacity: 0;
  transition: opacity 0.05s ease-in-out;
}
.right-bracket2 {
  margin-left: 2vw;
}

.left-bracket2,
.right-bracket2 {
  transition: transform 0.5s ease-in-out;
  position: absolute;
  font-family: "Helvetica";
  font-size: 1.4vw;
}

.text2 {
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.5s ease-in-out;

  margin-left: 1vw;
  margin-top: 0.2vw;
  font-size: 1.4vw;
  position: absolute;
  font-family: "Helvetica";
}

.expandable2.expanded2 .right-bracket2 {
  transform: translateX(9.2vw);
}

.expandable2.expanded2 .text2 {
  opacity: 1;
}

.img1 {
  background-image: url(../images/pystoty-empty.svg);
  background-size: 105.9vw 28.13vw;
  width: 105.9vw;
  height: 28.13vw;
  margin-top: 2.2vw;
  margin-left: -3.5vw;
}

.img2 {
  background-size: 109.45vw 17.73vw;
  width: 109.45vw;
  height: 17.73vw;
  background-image: url(../images/regolit-emoty.svg);
  margin-top: -11.1vw;
  margin-left: -4.8vw;
}
.img1.afterimage {
  background-image: url(../images/pystoty-empty-white.svg);
}
.img2.afterimage3 {
  background-image: url(../images/regolit-empty-white.svg);
}
.img3.afterimage3 {
  background-image: url(../images/mantia-empty-white.svg);
}
.img4.afterimage4 {
  background-image: url(../images/yadro-empty-white.svg);
}
.img3 {
  width: 109.5vw;
  height: 21.05vw;
  background-image: url(../images/mantia-empty.svg);
  background-size: 108.7vw 21.05vw;
  margin-top: -9.1vw;
  margin-left: -4.3vw;
}
.img4 {
  width: 103.515vw;
  height: 14.528vw;

  background-image: url(../images/yadro-empty.svg);
  background-size: 103.515vw 14.528vw;
  margin-top: -8vw;
  margin-left: -0.9vw;
  z-index: 1;
  position: relative;
}
.img1,
.img2,
.img3 {
  position: relative;
  z-index: 20;
}
.tri-screen {
  font-size: 2.25vw;
  color: #000000;
  letter-spacing: 1.39vw;
  position: absolute;
}
.TS-1 {
  margin-left: 72.2vw;
  margin-top: 16.2vw;
}
.TS-2 {
  margin-top: 28.2vw;
  margin-left: 52vw;
}
.TS-3 {
  margin-top: 35.7vw;
  margin-left: 11.8vw;
}
.TS-4 {
  margin-top: 47vw;
  margin-left: 36.6vw;
}
.img1-hover {
  display: none;
  width: 105.9vw;
  height: 28.13vw;
  margin-top: 2.2vw;
  margin-left: -2.9vw;
}
.press {
  width: 100vw;
  height: 3vw;
  position: absolute;
  margin-top: -15vw;
}

/* ЧЕТВЕРТЫЙ ЭКРАН  */
.all-p {
  margin-top: 6vw;
}
.expandable3 {
  position: absolute;
  align-items: center;
  font-size: 2vw;
  cursor: pointer;
  margin-left: 2vw;
}
.question-mark3 {
  font-family: "Helvetica";
  font-size: 1.4vw;
  position: absolute;
  margin-left: 0.8vw;
  opacity: 1;
}
.expandable3.expanded3 .question-mark3 {
  opacity: 0;
  transition: opacity 0.05s ease-in-out;
}
.right-bracket3 {
  margin-left: 2vw;
}
.left-bracket3,
.right-bracket3 {
  transition: transform 0.5s ease-in-out;
  position: absolute;
  font-family: "Helvetica";
  font-size: 1.4vw;
}
.text3 {
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.5s ease-in-out;

  margin-left: 1vw;
  margin-top: 0.2vw;
  font-size: 1.4vw;
  position: absolute;
  font-family: "Helvetica";
}
.expandable3.expanded3 .right-bracket3 {
  transform: translateX(12.2vw);
}

.expandable3.expanded3 .text3 {
  opacity: 1;
}

.fourth {
  height: 60vw;
  margin-top: 10.7vw;
}
.marker-four {
  color: #000000;
  font-size: 2vw;
}
.p001 {
  width: 11.64vw;
  height: 13.75vw;
  background-image: url(../images/001.svg);
  background-size: 11.64vw 13.75vw;
  margin-left: 14.68vw;
  margin-top: 4.9vw;
}
.p002 {
  width: 17.97vw;
  height: 14.38vw;
  background-image: url(../images/002.svg);
  background-size: 17.97vw 14.38vw;
  margin-left: 26.2vw;
}
.p003 {
  width: 11.7vw;
  height: 13.44vw;
  background-image: url(../images/003.svg);
  background-size: 13.44vw;
  margin-left: 56.3vw;
  margin-top: -28vw;
}
.p004 {
  width: 12.42vw;
  height: 14.3vw;
  background-image: url(../images/004.svg);
  background-size: 12.42vw 14.3vw;
  margin-left: 43.8vw;
}
.p005 {
  width: 12.03vw;
  height: 14.22vw;
  background-image: url(../images/005.svg);
  background-size: 12.03vw 14.22vw;
  margin-left: 56.15vw;
  margin-top: -14.4vw;
}
.p006 {
  width: 10.86vw;
  height: 14.22vw;
  background-image: url(../images/006.svg);
  background-size: 10.86vw 14.22vw;
  margin-left: 68vw;
  margin-top: -14.2vw;
}
.p007 {
  width: 10.4vw;
  height: 14.3vw;
  background-image: url(../images/007.svg);
  background-size: 14.3vw;
  margin-left: 78.75vw;
  margin-top: -14.3vw;
}
.p008 {
  width: 12.19vw;
  height: 14.3vw;
  background-image: url(../images/008.svg);
  background-size: 12.19vw 14.3vw;
  margin-left: 88.8vw;
  margin-top: -14.3vw;
}
.p009 {
  width: 14.77vw;
  height: 13.91vw;
  background-image: url(../images/009.svg);
  background-size: 14.77vw 13.91vw;
}
.p010 {
  width: 10.86vw;
  height: 13.91vw;
  background-image: url(../images/010.svg);
  background-size: 10.86vw 13.91vw;
  margin-left: 14.77vw;
  margin-top: -13.91vw;
}
.p011 {
  width: 10.86vw;
  height: 13.28vw;
  background-image: url(../images/011.svg);
  background-size: 10.86vw 13.28vw;
  margin-left: 68vw;
  margin-top: -13.91vw;
}
.p012 {
  width: 13.98vw;
  height: 13.36vw;
  background-image: url(../images/012.svg);
  background-size: 13.98vw 13.36vw;
  margin-left: 42.2vw;
}
.p013 {
  width: 12.03vw;
  height: 13.28vw;
  background-image: url(../images/013.svg);
  background-size: 12.89vw 13.28vw;
  margin-left: 56.1vw;
  margin-top: -13.4vw;
  z-index: 3;
  position: absolute;
}
.text-p001,
.text-p002,
.text-p003,
.text-p004,
.text-p005,
.text-p006,
.text-p007,
.text-p008,
.text-p009,
.text-p010,
.text-p011,
.text-p012,
.text-p013 {
  position: absolute;
  z-index: -100;
}
.text-p001 {
  margin-left: 15vw;
  margin-top: 6vw;
}
.text-p002 {
  margin-left: 27vw;
  margin-top: 21vw;
}
.text-p003 {
  margin-left: 57vw;
  margin-top: 6vw;
}
.text-p004 {
  margin-left: 45vw;
  margin-top: 20vw;
}
.text-p005 {
  margin-left: 57vw;
  margin-top: 20vw;
}
.text-p006 {
  margin-left: 68.7vw;
  margin-top: 20vw;
}
.text-p007 {
  margin-left: 79.5vw;
  margin-top: 20vw;
}
.text-p008 {
  margin-left: 90vw;
  margin-top: 19.6vw;
}
.text-p010 {
  margin-left: 16vw;
  margin-top: 34vw;
}
.text-p011 {
  margin-left: 68.6vw;
  margin-top: 34vw;
}
.text-p012 {
  margin-left: 42.2vw;
  margin-top: 47vw;
}
.text-p013 {
  margin-left: 57vw;
  margin-top: 47vw;
}
.text-p009 {
  margin-left: 1vw;
  margin-top: 34vw;
}
.gekata,
.description-p001,
.diana,
.description-p002,
.description-p003,
.anna-maria,
.trida,
.seito,
.kasta,
.description-p004,
.description-p005,
.description-p006,
.payer,
.rai,
.description-p010,
.description-p007,
.ayan,
.verist,
.description-p011,
.description-p008,
.alia,
.description-p009,
.kiana,
.description-p012,
.stela,
.description-p013 {
  font-size: 1.25vw;
  color: #000;
}
.description-p001 {
  margin-top: 2.3vw;
}
.description-p002,
.description-p003,
.description-p004,
.description-p005,
.description-p006,
.description-p007,
.description-p008,
.description-p009,
.description-p010,
.description-p011,
.description-p012,
.description-p013 {
  margin-top: 1.7vw;
}
.classC,
.classC-007,
.classC-004,
.classD-008,
.classV-012,
.classS-013,
.classD-009,
.classS-010,
.classV-002,
.classM-003,
.classD-005,
.classM-006,
.classS-011 {
  color: #8c8c8c;
  font-size: 1.09vw;
}
/* ПЯТЫЙ ЭКРАН */
.dot {
  background-color: rgb(0, 0, 0);
  width: 0.85vw;
  height: 0.85vw;
  position: absolute;
  border-radius: 100%;
  font-family: "Helvetica";
  font-size: 1.5vw;
}
.dot-name {
  margin-left: -0.8vw;
  margin-top: -1.7vw;
  font-size: 1.1vw;
}

.dot-one {
  margin-left: 18.6vw;
  margin-top: 27.3vw;
}
.dot-two {
  margin-left: 25.6vw;
  margin-top: 27.25vw;
}
.dot-three {
  margin-left: 32.2vw;
  margin-top: 27.1vw;
}
.dot-four {
  margin-left: 19.5vw;
  margin-top: 6.4vw;
}
.dot-five {
  margin-left: 25vw;
  margin-top: 6.4vw;
}
.dot-six {
  margin-left: 33vw;
  margin-top: 6.3vw;
}
.dot-seven {
  margin-left: 37.4vw;
  margin-top: 5.8vw;
}
.dot-eight {
  margin-left: 38.3vw;
  margin-top: 26.5vw;
}
.dot-nine {
  margin-left: 48.2vw;
  margin-top: 5.4vw;
}
.dot-ten {
  margin-left: 49.7vw;
  margin-top: 26.3vw;
}
.dot-eleven {
  margin-left: 50.6vw;
  margin-top: 5.2vw;
}
.dot-twelve {
  margin-left: 56.6vw;
  margin-top: 26.7vw;
}
.dot-thirteen {
  margin-left: 56.5vw;
  margin-top: 5.1vw;
}
.dot-fourteen {
  margin-left: 62.5vw;
  margin-top: 5.2vw;
}
.dot-fifteen {
  margin-left: 65.2vw;
  margin-top: 5.2vw;
}
.dot-sixteen {
  margin-left: 69.7vw;
  margin-top: 4.7vw;
}
.dot-seventeen {
  margin-left: 65.1vw;
  margin-top: 15.9vw;
}
.dot-eighteen {
  margin-left: 69.3vw;
  margin-top: 16.3vw;
}
.dot-nineteen {
  margin-left: 65.1vw;
  margin-top: 26.5vw;
}
.dot-twenty {
  margin-left: 71.5vw;
  margin-top: 26.5vw;
}
.dot-twentyone {
  margin-left: 75.3vw;
  margin-top: 26.4vw;
}
.dot-twentytwo {
  margin-left: 75.2vw;
  margin-top: 6.3vw;
}
.dot-twentythree {
  margin-left: 81.4vw;
  margin-top: 6.7vw;
}
.dot-twentyfour {
  margin-left: 82.8vw;
  margin-top: 12vw;
}
.dot-twentyfive {
  margin-left: 78.1vw;
  margin-top: 13.7vw;
}
.dot-twentysix {
  margin-left: 83.2vw;
  margin-top: 25.9vw;
}
.expandable4 {
  position: absolute;
  align-items: center;
  font-size: 2vw;
  cursor: pointer;
  margin-left: 2vw;
  margin-top: 5vw;
}
.question-mark4 {
  font-family: "Helvetica";
  font-size: 1.4vw;
  position: absolute;
  margin-left: 0.8vw;
  opacity: 1;
}
.expandable4.expanded4 .question-mark4 {
  opacity: 0;
  transition: opacity 0.05s ease-in-out;
}
.right-bracket4 {
  margin-left: 2vw;
}
.left-bracket4,
.right-bracket4 {
  transition: transform 0.5s ease-in-out;
  position: absolute;
  font-family: "Helvetica";
  font-size: 1.4vw;
}
.text4 {
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.5s ease-in-out;

  margin-left: 1vw;
  margin-top: 0.2vw;
  font-size: 1.4vw;
  position: absolute;
  font-family: "Helvetica";
}
.expandable4.expanded4 .right-bracket4 {
  transform: translateX(9.2vw);
}

.expandable4.expanded4 .text4 {
  opacity: 1;
}

.stopwatch {
  font-size: 1.3vw;
  color: #000000;
  font-family: "Helvetica";
  position: absolute;
  margin-left: 50vw;
  margin-top: 5vw;
}
.inter {
  font-size: 1.3vw;
  color: #000000;
  font-family: "Helvetica";
  position: absolute;
  margin-left: 94vw;
  margin-top: 5vw;
}
цршеу {
  /* border: 1px solid #000; */
  position: absolute;
  height: 33vw;
  width: 100vw;
  margin-left: 1vw;
}
#clear,
#enter {
  border: 0.16vw solid black;

  height: 3vw;
  font-family: "Helvetica";
  font-size: 1.9vw;
  color: black;
  text-align: center;
  padding-top: 0.5vw;
}
#clear {
  margin-left: 40vw;
  margin-top: 3vw;
  width: 10.23vw;
}
#enter {
  margin-left: 56vw;
  margin-top: -3.7vw;
  width: 13.23vw;
}
.container {
  width: 100vw;
  height: 34.25vw;
  margin-top: 10vw;
}
#art {
  width: 80vw;
  height: 50vw;
}
#buttons {
  position: absolute;
}
#reset {
  margin-top: 10px;
  margin-left: 5px;
  float: left;
}
.color {
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
  border: 1px solid #000;
  text-align: center;
}
.podval {
  height: 65.64vw;
}
/* первый */
.rectangle {
  border: 0.2vw solid rgb(0, 0, 0);
  width: 10vw;
  height: 10vw;
  margin-top: -7vw;
  animation: rectangle 13s infinite;
}
.rectangle-fake {
  animation: cross1 15s infinite;
}
.crossed-one {
  margin-left: 10vw;
  position: absolute;
}
.cross-line-two,
.cross-line {
  background-color: #000000;
  width: 14.3vw;
  height: 0.1vw;
}
.cross-line-two {
  rotate: 45deg;
  margin-left: -2.1vw;
  margin-top: -0.3vw;
}
.cross-line {
  rotate: -45deg;
  margin-top: 5vw;
  margin-left: -2.3vw;
}
/* второй */
.rectangle2 {
  border: 0.2vw solid rgb(0, 0, 0);
  width: 10vw;
  height: 10vw;
  animation: rectangle 10s infinite;
}
.rectangle-fake2 {
  animation: square15 14s infinite -8s;
}
.crossed-one-2 {
  margin-left: 10vw;
  position: absolute;
}
.cross-line-two2,
.cross-line2 {
  background-color: #000000;
  width: 14.3vw;
  height: 0.1vw;
}
.cross-line-two2 {
  rotate: 45deg;
  margin-left: -2.1vw;
  margin-top: -0.3vw;
}
.cross-line2 {
  rotate: -45deg;
  margin-top: 5vw;
  margin-left: -2.3vw;
}

.podval-rock-one {
  width: 10.39vw;
  height: 12.81vw;
  background-image: url(../images/podval-rock-one.svg);
  background-size: 10.39vw 12.81vw;
  margin-left: 67vw;
  margin-top: 2vw;
  animation: asteroid-one-podval 30s infinite;
}
.podval-rock-two {
  width: 14.84vw;
  height: 14.84vw;
  background-image: url(../images/podval-rock-dva.svg);
  background-size: 14.84vw 14.84vw;
  margin-left: 48vw;
  margin-top: 25vw;
  animation: asteroid-two-podval 20s infinite;
}
.podval-rock-three {
  width: 11.09vw;
  height: 10vw;
  background-image: url(../images/podval-tri.svg);
  background-size: 11.09vw 10vw;
  margin-left: 85.3vw;
  margin-top: 25.9vw;
  animation: asteroid-three-podval 19s infinite;
}
.podval-rock-four {
  width: 17.26vw;
  height: 10.23vw;
  background-image: url(../images/podval-rock-four.svg);
  background-size: 17.26vw 10.23vw;
  margin-top: -9vw;
  margin-left: 4.5vw;
  animation: asteroid-four-podval 18s infinite;
}
.podval-rock-five {
  width: 11.09vw;
  height: 10vw;
  background-image: url(../images/podval-rock-five.svg);
  background-size: 11.09vw 10vw;
  margin-left: 48.5vw;
  margin-top: -6.5vw;
  animation: asteroid-five-podval 20s infinite;
}
.podval-rock-six {
  width: 10.859vw;
  height: 10.7vw;
  background-image: url(../images/podval-rock-six.svg);
  background-size: 10.859vw 10.7vw;
  margin-left: 2vw;
  margin-top: 19vw;
  animation: asteroid-six-podval 25s infinite;
}
.podval-rock-seven {
  width: 11.56vw;
  height: 11.718vw;
  background-image: url(../images/podval-rock-seven.svg);
  background-size: 11.56vw 11.718vw;
  margin-left: 64.5vw;
  margin-top: 17vw;
  animation: asteroid-seven-podval 20s infinite;
}
.podval-rock-eight {
  width: 10.7vw;
  height: 11.56vw;
  background-image: url(../images/podval-rock-eight.svg);
  background-size: 10.7vw 11.56vw;
  margin-top: 18.7vw;
  margin-left: 22.5vw;
  animation: asteroid-eight-podval 20s infinite;
}
.podval-rock-eight,
.podval-rock-seven,
.podval-rock-six,
.podval-rock-five,
.podval-rock-four,
.podval-rock-three,
.podval-rock-two,
.podval-rock-one {
  filter: grayscale();
  position: absolute;
}
.uvki,
.group,
.kurator-1,
.kurator-2,
.Kamila,
.Anna,
.my-name,
.author {
  font-family: "Helvetica";
  font-size: 2vw;
  color: #000000;
  border: 0.1vw #000000 solid;
  text-align: center;
}
.author {
  width: 12.3vw;
  margin-top: 3.8vw;
  margin-left: 24.5vw;
  height: 2.5vw;
}
.my-name {
  width: 13vw;
  height: 3.7vw;
  margin-left: 18vw;
}
.group {
  width: 11vw;
  height: 2.5vw;
  margin-left: 70.5vw;
  margin-top: 14.2vw;
}
.uvki {
  width: 15vw;
  height: 3vw;
  margin-left: 79.6vw;
}
.kurator-1 {
  width: 11.1vw;
  height: 2.5vw;
  margin-left: 37.7vw;
  margin-top: 3vw;
}
.kurator-2 {
  margin-top: 12.4vw;
  width: 11vw;
  height: 2.5vw;
  margin-left: 8.8vw;
}
.Anna {
  width: 15vw;
  height: 3.2vw;
  margin-left: 17.7vw;
}
.Kamila {
  width: 15vw;
  margin-left: 46vw;
  height: 3vw;
}
.groupANDuvki {
  animation: uvki 24s infinite;
  margin-top: 15.4vw;
  transition: transform 0.3s ease;
}
.authorANDname,
.kuratorANDkamila,
.kuratorANDanna {
  position: absolute;
}
.authorANDname {
  margin-top: -10.5vw;
  transition: transform 0.3s ease;
  animation: author 23s infinite;
}
.authorANDname:hover,
.kuratorANDkamila:hover,
.groupANDuvki:hover,
.kuratorANDanna:hover {
  animation-play-state: paused;
}
.authorscale:hover,
.uvkiscale:hover,
.annascale:hover,
.kamilascale:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}
.kuratorANDkamila {
  transition: transform 0.3s ease;
  margin-top: -0.3vw;
  animation: kamila 20s infinite;
}
.kuratorANDanna {
  margin-top: 8.5vw;
  transition: transform 0.3s ease;
  animation: anna 20s infinite;
}
.kartochki {
  transition: transform 1s ease-in-out;
}

.square,
.square2,
.square3,
.square4,
.square5,
.square7 {
  position: absolute;
  background-color: transparent;
  border: 2px solid black;
  width: 8.3vw;
  height: 4vw;
}
.square {
  margin-top: 2.6vw;
  margin-left: 9.5vw;
}
.square2 {
  margin-top: -17.4vw;
  margin-left: 30.2vw;
  animation: square2 20s infinite;
}
.square3 {
  margin-top: 26vw;
  margin-left: 56.2vw;
  animation: asteroid-two-podval 20s infinite;
}
.square4 {
  margin-top: 12vw;
  margin-left: 88.2vw;
  animation: square4 24s infinite;
}
.square5 {
  margin-top: 3.5vw;
  margin-left: 80.2vw;
  animation: square5 20s infinite;
}
.square6,
.square8,
.square9 {
  position: absolute;
  background-color: transparent;
  border: 2px solid black;
  width: 6.3vw;
  height: 8vw;
}
.square6 {
  margin-top: 11vw;
  margin-left: 71.2vw;
  animation: square6 18s infinite;
}
.square7 {
  margin-top: 27.6vw;
  margin-left: 4.2vw;
  animation: square7 17s infinite;
}
.square8 {
  margin-top: 17.6vw;
  margin-left: 91.6vw;
  animation: square8 15s infinite;
}
.square9 {
  margin-top: 14vw;
  margin-left: 47vw;
  animation: asteroid-two-podval 20s infinite;
}
.square10 {
  margin-top: 12.5vw;
  margin-left: 12vw;
  position: absolute;
  background-color: transparent;
  border: 2px solid black;
  width: 4vw;
  height: 4vw;
  animation: square10 18s infinite;
}
.square11 {
  margin-top: 9vw;
  margin-left: 2vw;
  position: absolute;
  background-color: transparent;
  border: 2px solid black;
  width: 8vw;
  height: 8vw;
  animation: square11 21s infinite;
}
/* .square12 {
  margin-top: -10.4vw;
  margin-left: 0.3vw;
  position: absolute;
  background-color: transparent;
  border: 2px solid black;
  width: 10vw;
  height: 10vw;
  animation: square12 20s infinite;
} */
.square13 {
  margin-top: -20.4vw;
  margin-left: 46.3vw;
  position: absolute;
  background-color: transparent;
  border: 2px solid black;
  width: 8vw;
  height: 14vw;
  animation: square13 19s infinite;
}
.square14 {
  margin-top: -6.4vw;
  margin-left: 62.6vw;
  position: absolute;
  background-color: transparent;
  border: 2px solid black;
  width: 11vw;
  height: 10vw;
  animation: square14 25s infinite -4s;
}
.square15,
.square16 {
  position: absolute;
  background-color: transparent;
  border: 2px solid black;
  width: 10.7vw;
  height: 10vw;
}
.square15 {
  margin-top: 8.8vw;
  margin-left: 25.6vw;
  animation: square15 21s infinite;
}
/* .square16 {
  margin-top: -17.8vw;
  margin-left: 9.6vw;
  animation: square16 21s infinite;
} */
.square16::before,
.square15::before,
.square14::before,
.square13::before,
.square12::before,
.square11::before,
.square10::before,
.square9::before,
.square8::before,
.square7::before,
.square6::before,
.square5::before,
.square4::before,
.square3::before,
.square2::before,
.square::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    transparent 49%,
    black 49%,
    black 50%,
    transparent 50%
  );
}
.square16::after,
.square15::after,
.square14::after,
.square13::after,
.square12::after,
.square11::after,
.square10::after,
.square9::after,
.square8::after,
.square7::after,
.square6::after,
.square5::after,
.square4::after,
.square3::after,
.square2::after,
.square::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom left,
    transparent 49%,
    black 49%,
    black 50%,
    transparent 50%
  );
}
.square14-scale {
  animation: rectangle 10s infinite;
}
